@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Transparent" Class="topbar-glass">
        <MudIcon Icon="@Icons.Material.Filled.Security" Class="mr-2" />
        <MudText Typo="Typo.h6">Password Manager</MudText>
    </MudAppBar>

    <MudMainContent>
        <div class="page-container">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
